@inherits ReactiveInjectableComponentBase<SlimeIMWiki.ViewModels.Home.LatestNoticesViewModel>

@{ Debug.Assert(ViewModel != null, nameof(ViewModel) + " != null"); }

<Div Background="Background.Body" Border="Border.Primary.OnAll.Rounded"
     Padding="Padding.Is3.OnX.Is3.FromBottom.Is4.FromTop" Position="Position.Relative">
    <Buttons Position="Position.Absolute.Start.Is50.Top.Is0.Translate.Middle">
        <Button Size="Size.Small"
                Color="@(ViewModel.RegionSelection == "NA" ? Color.Light : Color.Dark)"
                Command="ViewModel.RegionChangeCommand"
                CommandParameter="@("NA")">
            <Div Padding="Padding.Is3.OnX">NA</Div>
        </Button>
        <Button Size="Size.Small"
                Color="@(ViewModel.RegionSelection == "EU" ? Color.Light : Color.Dark)"
                Command="ViewModel.RegionChangeCommand"
                CommandParameter="@("EU")">
            <Div Padding="Padding.Is3.OnX">EU</Div>
        </Button>
        <Button Size="Size.Small"
                Color="@(ViewModel.RegionSelection == "Asia" ? Color.Light : Color.Dark)"
                Command="ViewModel.RegionChangeCommand"
                CommandParameter="@("Asia")">
            <Div Padding="Padding.Is3.OnX">Asia</Div>
        </Button>
        <Button Size="Size.Small"
                Color="@(ViewModel.RegionSelection == "Japan" ? Color.Light : Color.Dark)"
                Command="ViewModel.RegionChangeCommand"
                CommandParameter="@("Japan")">
            <Div Padding="Padding.Is3.OnX">Japan</Div>
        </Button>
    </Buttons>

    <iframe height="500"
            src="https://api.ten-sura-m.wfs.games/web/announcement?region=@ViewModel.RegionCode&language=@(ViewModel.RegionSelection == "Japan" ? "1" : "2")&phoneType=1"
            referrerpolicy="strict-origin-when-cross-origin"
            style="width: 100%; background-color: black"></iframe>
</Div>