@using SlimeIMWiki.Services
@inherits ReactiveInjectableComponentBase<SlimeIMWiki.ViewModels.Home.LatestNoticesViewModel>
@inject IWebStorageService WebStorageService

@{ Debug.Assert(ViewModel != null, nameof(ViewModel) + " != null"); }

<Div Flex="Flex.JustifyContent.Center.AlignItems.Center" Margin="Margin.Is2.FromBottom">
    <Buttons Border="Border.White">
        <Button Size="Size.Small"
                Color="@(ViewModel.RegionSelection == "NA" ? Color.Light : Color.Dark)"
                Command="ViewModel.RegionChangeCommand"
                CommandParameter="@("NA")"
                Border="Border.RoundedStart">
            <Div Padding="Padding.Is3.OnX">NA</Div>
        </Button>
        <Button Size="Size.Small"
                Color="@(ViewModel.RegionSelection == "EU" ? Color.Light : Color.Dark)"
                Command="ViewModel.RegionChangeCommand"
                CommandParameter="@("EU")">
            <Div Padding="Padding.Is3.OnX">EU</Div>
        </Button>
        <Button Size="Size.Small"
                Color="@(ViewModel.RegionSelection == "Asia" ? Color.Light : Color.Dark)"
                Command="ViewModel.RegionChangeCommand"
                CommandParameter="@("Asia")">
            <Div Padding="Padding.Is3.OnX">Asia</Div>
        </Button>
        <Button Size="Size.Small"
                Color="@(ViewModel.RegionSelection == "Japan" ? Color.Light : Color.Dark)"
                Command="ViewModel.RegionChangeCommand"
                CommandParameter="@("Japan")"
                Border="Border.RoundedEnd">
            <Div Padding="Padding.Is3.OnX">Japan</Div>
        </Button>
    </Buttons>
</Div>

@if (ViewModel.IsOnline)
{
    <iframe height="500"
            src="https://api.ten-sura-m.wfs.games/web/announcement?region=@ViewModel.RegionCode&language=@(ViewModel.RegionSelection == "Japan" ? "1" : "2")&phoneType=1"
            referrerpolicy="strict-origin-when-cross-origin"
            style="width: 100%"></iframe>
}
else
{
    <Paragraph>In-Game Notices are not available in offline mode.</Paragraph>
}

@code
{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        Debug.Assert(ViewModel != null, nameof(ViewModel) + " != null");
        
        if (firstRender)
        {
            ViewModel.RegionChange(WebStorageService.GetFromCookie(nameof(ViewModel.RegionSelection)) ?? "NA");
        }
        
        await base.OnAfterRenderAsync(firstRender);
    }
}
