@inherits ReactiveInjectableComponentBase<SlimeIMWiki.ViewModels.Home.TimersViewModel>

@{ Debug.Assert(ViewModel != null, nameof(ViewModel) + " != null"); }

<Div Background="Background.Body" Padding="Padding.Is3" Position="Position.Relative">
    <Buttons Position="Position.Absolute.Start.Is50.Top.Is0.Translate.Middle" Border="Border.White">
        <Button Size="Size.Small"
                Color="@(ViewModel.TimerSelection == "NA" ? Color.Light : Color.Dark)"
                Command="@ViewModel.RegionChangeCommand"
                CommandParameter="@("NA")"
                Border="Border.RoundedStart">
            <Div Padding="Padding.Is3.OnX">NA</Div>
        </Button>
        <Button Size="Size.Small"
                Color="@(ViewModel.TimerSelection == "EU" ? Color.Light : Color.Dark)"
                Command="@ViewModel.RegionChangeCommand"
                CommandParameter="@("EU")">
            <Div Padding="Padding.Is3.OnX">EU</Div>
        </Button>
        <Button Size="Size.Small"
                Color="@(ViewModel.TimerSelection == "Asia" ? Color.Light : Color.Dark)"
                Command="@ViewModel.RegionChangeCommand"
                CommandParameter="@("Asia")"
                Border="Border.RoundedEnd">
            <Div Padding="Padding.Is3.OnX">Asia</Div>
        </Button>
    </Buttons>
    <Grid>
        <Column ColumnSize="ColumnSize.Is6">
            <Div TextAlignment="TextAlignment.Center">Reset</Div>
            <Div TextAlignment="TextAlignment.Center"
                 TextSize="TextSize.ExtraSmall">@ViewModel.TimerReset.ToString("F")</Div>
            <Div TextAlignment="TextAlignment.Center"
                 TextSize="TextSize.Heading2">@ViewModel.TimerResetIn.ToString(@"hh\:mm\:ss")</Div>
        </Column>
        <Column ColumnSize="ColumnSize.Is6">
            <Div TextAlignment="TextAlignment.Center">Update</Div>
            <Div TextAlignment="TextAlignment.Center"
                 TextSize="TextSize.ExtraSmall">@ViewModel.TimerUpdate.ToString("F")</Div>
            <Div TextAlignment="TextAlignment.Center"
                 TextSize="TextSize.Heading2">@ViewModel.TimerUpdateIn.ToString(@"hh\:mm\:ss")</Div>
        </Column>
    </Grid>
</Div>