@using SlimeIMWiki.Services
@inherits ReactiveComponentBase<TimersViewModel>
@inject IServiceProvider ServiceProvider
@inject IWebStorageService WebStorageService

@{ Debug.Assert(ViewModel != null, nameof(ViewModel) + " != null"); }

<Div Flex="Flex.JustifyContent.Center.AlignItems.Center" Margin="Margin.Is2.FromBottom">
    <Buttons Border="Border.White">
        <Button Size="Size.Small"
                Color="@(ViewModel.TimerSelection == "NA" ? Color.Light : Color.Dark)"
                Command="@ViewModel.RegionChangeCommand"
                CommandParameter="@("NA")"
                Border="Border.RoundedStart">
            <Div Padding="Padding.Is3.OnX">NA</Div>
        </Button>
        <Button Size="Size.Small"
                Color="@(ViewModel.TimerSelection == "EU" ? Color.Light : Color.Dark)"
                Command="@ViewModel.RegionChangeCommand"
                CommandParameter="@("EU")">
            <Div Padding="Padding.Is3.OnX">EU</Div>
        </Button>
        <Button Size="Size.Small"
                Color="@(ViewModel.TimerSelection == "Asia" ? Color.Light : Color.Dark)"
                Command="@ViewModel.RegionChangeCommand"
                CommandParameter="@("Asia")"
                Border="Border.RoundedEnd">
            <Div Padding="Padding.Is3.OnX">Asia</Div>
        </Button>
    </Buttons>
</Div>

<Grid>
    <Column ColumnSize="ColumnSize.Is6">
        <Heading TextAlignment="TextAlignment.Center" Size="HeadingSize.Is5">Reset</Heading>
        <Div TextAlignment="TextAlignment.Center"
             TextSize="TextSize.ExtraSmall">@ViewModel.TimerReset.ToString("F")</Div>
        <Div TextAlignment="TextAlignment.Center"
             TextSize="TextSize.Heading2">@ViewModel.TimerResetIn.ToString(@"hh\:mm\:ss")</Div>
    </Column>
    <Column ColumnSize="ColumnSize.Is6">
        <Heading TextAlignment="TextAlignment.Center" Size="HeadingSize.Is5">Update</Heading>
        <Div TextAlignment="TextAlignment.Center"
             TextSize="TextSize.ExtraSmall">@ViewModel.TimerUpdate.ToString("F")</Div>
        <Div TextAlignment="TextAlignment.Center"
             TextSize="TextSize.Heading2">@ViewModel.TimerUpdateIn.ToString(@"hh\:mm\:ss")</Div>
    </Column>
</Grid>

@code
{
    protected override void OnInitialized()
    {
        ViewModel = ActivatorUtilities.CreateInstance<TimersViewModel>(ServiceProvider);
        base.OnInitialized();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        Debug.Assert(ViewModel != null, nameof(ViewModel) + " != null");

        if (firstRender)
        {
            ViewModel.RegionChangeCommand.Execute(WebStorageService.GetFromCookie(nameof(ViewModel.TimerSelection)) ?? "NA").Subscribe();
        }

        base.OnAfterRender(firstRender);
    }
}
