<Div Flex="Flex.JustifyContent.Between.AlignItems.Center.Grow.Is1.Shrink.Is1" Margin="@Margin">
    <Div Flex="Flex.Grow.Is1.Shrink.Is1" Height="Height.Px(2)" Background="@DividerColor"></Div>
    <Div Padding="Padding.Is4.OnX" TextColor="@TextColor">@Text</Div>
    <Div Flex="Flex.Grow.Is1.Shrink.Is1" Height="Height.Px(2)" Background="@DividerColor"></Div>
</Div>

@code
{
    [Parameter]
    [EditorRequired]
    public required string Text { get; set; }

    [Parameter]
    public TextColor TextColor { get; set; } = TextColor.Body;

    [Parameter]
    public Background DividerColor { get; set; } = Background.Body;
    
    [Parameter]
    public IFluentSpacing? Margin { get; set; }
}
