@inherits BaseFilterComponent

@code
{
    [Parameter]
    [EditorRequired]
    public int Rarity { get; set; }
    
    private string RarityDisplay =>
        Rarity switch
        {
            6 or 7 => string.Empty,
            8 => "7",
            var _ => Rarity.ToString()
        };

    protected override void OnInitialized()
    {
        Filter ??= new Filter($"{nameof(Rarity)}_{Rarity}", GetType(), Rarity, unit =>
        {
            return Rarity switch
            {
                6 => unit is { InitialRarity: 6, IsEx: true },
                7 => unit is { InitialRarity: 6, IsAttributeUnbound: true },
                8 => unit is { InitialRarity: 7 },
                var _ => unit.InitialRarity == Rarity
            };
        });
        base.OnInitialized();
    }
}

<FilterComponent DisplayText="@(RarityDisplay)" IsRemoveMode="IsRemoveMode"
                 OnClick="Execute">
    <Div Class="filterIcon" Flex="Flex.Row.JustifyContent.Center.AlignItems.Center">
        @if (Rarity <= 5)
        {
            <ImageProxy Height="Height.Em(1.5)" Source="@($"image/rarity/starCharaL{Rarity}A.png")"/>
        }

        @if (Rarity == 6)
        {
            <ImageProxy Height="Height.Em(1.5)" Source="@("image/rarity/starCharaL6UA.png")"/>
            <Span>EX</Span>
        }

        @if (Rarity == 7)
        {
            <ImageProxy Height="Height.Em(1.5)" Source="@("image/rarity/starCharaL6UPA.png")"/>
            <Span>EXU</Span>
        }
        
        @if (Rarity == 8)
        {
            <ImageProxy Height="Height.Em(1.5)" Source="@("image/rarity/starCharaL7_Epic_Alphabet.png")"/>
        }
    </Div>
</FilterComponent>