@using SlimeIMWiki.ViewModels.CharacterDetail
@inherits ReactiveComponentBase<SlimeIMWiki.ViewModels.CharacterDetail.ProtectionCharacterDetailViewModel>
@inject IServiceProvider ServiceProvider

@{ Debug.Assert(ViewModel != null, nameof(ViewModel) + " != null"); }

@if (ViewModel.ProtectionUnit is not null)
{
    <PageTitle>@ViewModel.ProtectionUnit.Name [@ViewModel.ProtectionUnit.Title]</PageTitle>
    
    <Grid>
        <Column ColumnSize="ColumnSize.Is12" Display="Display.None.OnDesktop">
            <Div TextWeight="TextWeight.SemiBold" TextAlignment="TextAlignment.Center">[ @ViewModel.ProtectionUnit.Title ]</Div>
            <Div TextWeight="TextWeight.SemiBold" TextAlignment="TextAlignment.Center">@ViewModel.ProtectionUnit.Name</Div>

            <Div Position="Position.Relative.Start.Is50.Translate.MiddleX" Style="width: fit-content"
                 Flex="Flex.AlignItems.Center" Gap="Gap.Is1" Padding="Padding.Is2.FromTop">
                <Image Width="Width.Em(2)" Source="image/character_types/icCharaTypeBless.png"/>
                <Span>Protection Unit</Span>

                <Div Position="Position.Relative" Width="Width.Em(6)" Height="Height.Em(2)">
                    <Image Position="Position.Absolute" Width="Width.Em(2)"
                           Source="image/character_info/rarityStarOn.png" Style="z-index: 5"/>

                    <Image Position="Position.Absolute" Width="Width.Em(2)"
                           Source="image/character_info/rarityStarOn.png" Style="z-index: 4; left: 1em"/>

                    <Image Position="Position.Absolute" Width="Width.Em(2)"
                           Source="image/character_info/rarityStarOn.png" Style="z-index: 3; left: 2em"/>

                    @if (ViewModel.ProtectionUnit.InitialRarity >= 4)
                    {
                        <Image Position="Position.Absolute" Width="Width.Em(2)"
                               Source="image/character_info/rarityStarOn.png" Style="z-index: 2; left: 3em"/>
                    }
                    else
                    {
                        <Image Position="Position.Absolute" Width="Width.Em(2)"
                               Source="image/character_info/rarityStarOff.png" Style="z-index: 2; left: 3em"/>
                    }

                    @if (ViewModel.ProtectionUnit.InitialRarity >= 5)
                    {
                        <Image Position="Position.Absolute" Width="Width.Em(2)"
                               Source="image/character_info/rarityStarOn.png" Style="z-index: 1; left: 4em"/>
                    }
                    else
                    {
                        <Image Position="Position.Absolute" Width="Width.Em(2)"
                               Source="image/character_info/rarityStarOff.png" Style="z-index: 1; left: 4em"/>
                    }
                </Div>
            </Div>
        </Column>

        <Column ColumnSize="ColumnSize.Is6.OnDesktop.Is12.OnMobile">
            <Div Flex="Flex.JustifyContent.Center.AlignContent.Center">
                <Image Source="@ViewModel.ProtectionUnit.Image" Fluid/>
            </Div>
        </Column>

        <Column ColumnSize="ColumnSize.Is6.OnDesktop.Is12.OnMobile">
            <Div Display="Display.None.Block.OnDesktop">
                <Div TextWeight="TextWeight.SemiBold" TextAlignment="TextAlignment.Center">[ @ViewModel.ProtectionUnit.Title ]</Div>
                <Div TextWeight="TextWeight.SemiBold" TextAlignment="TextAlignment.Center">@ViewModel.ProtectionUnit.Name</Div>

                <Div Position="Position.Relative.Start.Is50.Translate.MiddleX" Style="width: fit-content"
                     Flex="Flex.AlignItems.Center" Gap="Gap.Is1" Padding="Padding.Is2.FromTop">
                    <Image Width="Width.Em(2)" Source="image/character_types/icCharaTypeBless.png"/>
                    <Span>Protection Unit</Span>

                    <Div Position="Position.Relative" Width="Width.Em(6)" Height="Height.Em(2)">
                        <Image Position="Position.Absolute" Width="Width.Em(2)"
                               Source="image/character_info/rarityStarOn.png" Style="z-index: 5"/>

                        <Image Position="Position.Absolute" Width="Width.Em(2)"
                               Source="image/character_info/rarityStarOn.png" Style="z-index: 4; left: 1em"/>

                        <Image Position="Position.Absolute" Width="Width.Em(2)"
                               Source="image/character_info/rarityStarOn.png" Style="z-index: 3; left: 2em"/>

                        @if (ViewModel.ProtectionUnit.InitialRarity >= 4)
                        {
                            <Image Position="Position.Absolute" Width="Width.Em(2)"
                                   Source="image/character_info/rarityStarOn.png" Style="z-index: 2; left: 3em"/>
                        }
                        else
                        {
                            <Image Position="Position.Absolute" Width="Width.Em(2)"
                                   Source="image/character_info/rarityStarOff.png" Style="z-index: 2; left: 3em"/>
                        }

                        @if (ViewModel.ProtectionUnit.InitialRarity >= 5)
                        {
                            <Image Position="Position.Absolute" Width="Width.Em(2)"
                                   Source="image/character_info/rarityStarOn.png" Style="z-index: 1; left: 4em"/>
                        }
                        else
                        {
                            <Image Position="Position.Absolute" Width="Width.Em(2)"
                                   Source="image/character_info/rarityStarOff.png" Style="z-index: 1; left: 4em"/>
                        }
                    </Div>
                </Div>
            </Div>

            <Grid>
                <Column ColumnSize="ColumnSize.Is6.OnTablet.Is12.OnMobile">
                    <TextDivider Text="STATS" Margin="Margin.Is2.OnY"/>

                    <Table Background="Background.Body">
                        <TableBody>
                            <TableRow>
                                <TableHeaderCell Background="Background.Primary" TextColor="TextColor.Body"
                                                 Flex="Flex.Row.AlignItems.Center" Gap="Gap.Is2">
                                    <Div Flex="Flex.JustifyContent.Center" Width="Width.Em(2)" Height="Height.Em(2)">
                                        <Image Width="Width.Max100" Height="Height.Is100"
                                               Source="image/character_info/icHp.png" Text="Hp"/>
                                    </Div>
                                    <Div>Health</Div>
                                </TableHeaderCell>
                                <TableRowCell Background="Background.Dark" TextColor="TextColor.Body"
                                              TextAlignment="TextAlignment.Center" Style="min-width: 5ch">
                                    @ViewModel.ProtectionUnit?.MaxHealth
                                </TableRowCell>
                            </TableRow>
                            <TableRow>
                                <TableHeaderCell Background="Background.Primary" TextColor="TextColor.Body"
                                                 Flex="Flex.Row.AlignItems.Center" Gap="Gap.Is2">
                                    <Div Flex="Flex.JustifyContent.Center" Width="Width.Em(2)" Height="Height.Em(2)">
                                        <Image Width="Width.Max100" Height="Height.Is100"
                                               Source="image/character_info/icAtk.png" Text="Atk"/>
                                    </Div>
                                    <Div>Attack</Div>
                                </TableHeaderCell>
                                <TableRowCell Background="Background.Dark" TextColor="TextColor.Body"
                                              TextAlignment="TextAlignment.Center">
                                    @ViewModel.ProtectionUnit?.MaxAttack
                                </TableRowCell>
                            </TableRow>
                            <TableRow>
                                <TableHeaderCell Background="Background.Primary" TextColor="TextColor.Body"
                                                 Flex="Flex.Row.AlignItems.Center" Gap="Gap.Is2">
                                    <Div Flex="Flex.JustifyContent.Center" Width="Width.Em(2)" Height="Height.Em(2)">
                                        <Image Width="Width.Max100" Height="Height.Is100"
                                               Source="image/character_info/icDef.png" Text="Def"/>
                                    </Div>
                                    <Div>Defense</Div>
                                </TableHeaderCell>
                                <TableRowCell Background="Background.Dark" TextColor="TextColor.Body"
                                              TextAlignment="TextAlignment.Center">
                                    @ViewModel.ProtectionUnit?.MaxDefense
                                </TableRowCell>
                            </TableRow>
                            <TableRow>
                                <TableHeaderCell Background="Background.Primary" TextColor="TextColor.Body"
                                                 Flex="Flex.Row.AlignItems.Center" Gap="Gap.Is2">
                                    <Div Flex="Flex.JustifyContent.Center" Width="Width.Em(2)" Height="Height.Em(2)">
                                        <Image Width="Width.Max100" Height="Height.Is100"
                                               Source="image/character_info/icConstruct.png" Text="Output"/>
                                    </Div>
                                    <Div>Output</Div>
                                </TableHeaderCell>
                                <TableRowCell Background="Background.Dark" TextColor="TextColor.Body"
                                              TextAlignment="TextAlignment.Center">
                                    @ViewModel.ProtectionUnit?.MaxOutput
                                </TableRowCell>
                            </TableRow>
                            <TableRow>
                                <TableHeaderCell Background="Background.Primary" TextColor="TextColor.Body"
                                                 Flex="Flex.Row.AlignItems.Center" Gap="Gap.Is2">
                                    <Div>Character Type</Div>
                                </TableHeaderCell>
                                <TableRowCell Background="Background.Dark" TextColor="TextColor.Body"
                                              TextAlignment="TextAlignment.Center"
                                              ColumnSpan="2">
                                    @ViewModel.ProtectionUnit?.CharacterType
                                </TableRowCell>
                            </TableRow>
                            <TableRow>
                                <TableHeaderCell Background="Background.Primary" TextColor="TextColor.Body"
                                                 Flex="Flex.Row.AlignItems.Center" Gap="Gap.Is2">
                                    <Div>Tactics Type</Div>
                                </TableHeaderCell>
                                <TableRowCell Background="Background.Dark" TextColor="TextColor.Body"
                                              TextAlignment="TextAlignment.Center">
                                    <Image Source="@ViewModel.GetTacticTypeImage()"
                                           Text="@ViewModel.ProtectionUnit.TacticsType"
                                           Height="Height.Em(1.5)"/>
                                </TableRowCell>
                            </TableRow>
                            <TableRow>
                                <TableHeaderCell Background="Background.Primary" TextColor="TextColor.Body"
                                                 Flex="Flex.Row.AlignItems.Center" Gap="Gap.Is2">
                                    <Div Width="Width.Em(2)" Height="Height.Em(2)">
                                        <Icon IconSize="IconSize.x2" Name="IconName.Clock"/>
                                    </Div>
                                    <Div>Release</Div>
                                </TableHeaderCell>
                                <TableRowCell Background="Background.Dark" TextColor="TextColor.Body"
                                              TextAlignment="TextAlignment.Center">
                                    @ViewModel.ProtectionUnit?.ReleaseDate
                                </TableRowCell>
                            </TableRow>
                        </TableBody>
                    </Table>
                </Column>

                <Column ColumnSize="ColumnSize.Is6.OnTablet.Is12.OnMobile">
                    <TextDivider Text="FORCES" Margin="Margin.Is2.OnY"/>

                    <Div Background="Background.Body" Padding="Padding.Is2" Flex="Flex.Column.OnDesktop.Wrap"
                         Gap="Gap.Is2">
                        @if (ViewModel.ProtectionUnit.Forces is not null)
                        {
                            foreach (var force in ViewModel.ProtectionUnit.Forces)
                            {
                                <Div Flex="Flex.Row.AlignItems.Center" Gap="Gap.Is2">
                                    <Image Width="Width.Em(2)" Height="Height.Em(2)"
                                           Source="@ViewModel.GetForceIcon(force)" Text="Icon"/>
                                    <Div>@force</Div>
                                </Div>
                            }
                        }
                        else
                        {
                            <Div Flex="Flex.Grow.Is1.Shrink.Is1" TextAlignment="TextAlignment.Center">
                                No forces have been assigned.
                            </Div>
                        }
                    </Div>

                    <TextDivider Text="SUITED FACILITIES" Margin="Margin.Is2.OnY"/>

                    <Div Background="Background.Body" Padding="Padding.Is2" Flex="Flex.Column" Gap="Gap.Is2">
                        @if (ViewModel.ProtectionUnit.SuitedFacilities is null || ViewModel.ProtectionUnit.SuitedFacilities.Length == 0)
                        {
                            <Div>No Suited Facilities have been assigned.</Div>
                        }
                        else
                        {
                            if (ViewModel.ProtectionUnit.SuitedFacilities.Length >= 1)
                            {
                                <Div Flex="Flex.Row.AlignItems.Center" Gap="Gap.Is2" @key="@ViewModel.ProtectionUnit.SuitedFacilities[0]">
                                    <Div>@ViewModel.ProtectionUnit.SuitedFacilities[0]</Div>
                                    <Div>200%</Div>
                                </Div>
                            }

                            if (ViewModel.ProtectionUnit.SuitedFacilities.Length >= 2)
                            {
                                <Div Flex="Flex.Row.AlignItems.Center" Gap="Gap.Is2" @key="@ViewModel.ProtectionUnit.SuitedFacilities[1]">
                                    <Div>@ViewModel.ProtectionUnit.SuitedFacilities[1]</Div>
                                    <Div>100%</Div>
                                </Div>
                            }
                        }
                    </Div>
                </Column>
            </Grid>

            <TextDivider Text="TAGS" Margin="Margin.Is2.OnY"/>

            <Div Background="Background.Body" Padding="Padding.Is2" Flex="Flex.Wrap" Gap="Gap.Is2">
                There is something here.
            </Div>
        </Column>
    </Grid>
}

@code
{
    [Parameter]
    [EditorRequired]
    public required string Permalink { get; set; }
    
    protected override void OnInitialized()
    {
        ViewModel = ActivatorUtilities.CreateInstance<ProtectionCharacterDetailViewModel>(ServiceProvider, Permalink);
        base.OnInitialized();
    }
}
