@using SlimeIMWiki.Models.JsonData

<TextDivider Text="SECRET SKILLS" Margin="Margin.Is2.OnY"/>

<Div Flex="Flex.Column" Background="Background.Body" Padding="Padding.Is2" Gap="Gap.Is2">
    <Div Flex="Flex.Row.AlignItems.Center" Gap="Gap.Is2">
        <Div Width="Width.Em(4)" Height="Height.Em(4)">
            <Div Position="Position.Absolute" Width="Width.Em(4)" Height="Height.Em(4)">
                @if (!string.IsNullOrEmpty(Unit.SecretSkillNormalEffect))
                {
                    <ImageProxy Position="Position.Absolute.Top.Is0.Start.Is0" Source="image/character_info/cardBaseSp.png"
                                Width="Width.Em(4)" Height="Height.Em(4)" Style="z-index: 0"/>
                }
                else if (!string.IsNullOrEmpty(Unit.SecretSkillAttackEffect))
                {
                    <ImageProxy Position="Position.Absolute.Top.Is0.Start.Is0" Source="image/character_info/cardBaseUltimateAttack.png"
                                Width="Width.Em(4)" Height="Height.Em(4)" Style="z-index: 0"/>
                    
                    <ImageProxy Position="Position.Absolute.Start.Is50.Bottom.Is0.Translate.MiddleX" Source="image/character_info/icUltimateOff.png"
                                Width="Width.Em(1.5)" Height="Height.Em(1.5)" Style="z-index: 2"/>
                }
                else if (!string.IsNullOrEmpty(Unit.SecretSkillSupportEffect))
                {
                    <ImageProxy Position="Position.Absolute.Top.Is0.Start.Is0" Source="image/character_info/cardBaseUltimateSupport.png"
                                Width="Width.Em(4)" Height="Height.Em(4)" Style="z-index: 0"/>
                    
                    <ImageProxy Position="Position.Absolute.Start.Is50.Bottom.Is0.Translate.MiddleX" Source="image/character_info/icUltimateOff.png"
                                Width="Width.Em(1.5)" Height="Height.Em(1.5)" Style="z-index: 2"/>
                }
                
                <ImageProxy Position="Position.Absolute.Start.Is0.Bottom.Is0" Source="@Unit.Card"
                            Width="Width.Em(4)" Style="z-index: 1"/>
                    
                @if (Unit.SecretSkillTarget.Equals("Single"))
                {
                    <ImageProxy Position="Position.Absolute.Bottom.Is0" Source="image/character_info/icSpTypeSingle.png"
                                Height="Height.Em(1.5)" Style="z-index: 2; left: 0.3em"/>
                }
                else if (Unit.SecretSkillTarget.Equals("All"))
                {
                    <ImageProxy Position="Position.Absolute.Bottom.Is0.Start.Is0" Source="image/character_info/icSpTypeAll.png"
                                Height="Height.Em(1.5)" Style="z-index: 2"/>
                }
            </Div>
        </Div>
        <Div>
            <Div Flex="Flex.Row.AlignItems.Center" Gap="Gap.Is2">
                <Div TextWeight="TextWeight.Bold">
                    @(string.IsNullOrEmpty(Unit.SecretSkillName) ? "???" : Unit.SecretSkillName)
                </Div>
                
                @if (!string.IsNullOrEmpty(Unit.SecretSkillAttackEffect))
                {
                    <Div Height="Height.Em(1.5)">
                        <Div Position="Position.Absolute">
                            <ImageProxy Source="image/character_info/ultimateAttackBase.png" Height="Height.Em(1.5)"/>
                            <Text TextSize="TextSize.ExtraSmall" Position="Position.Absolute.Start.Is50.Top.Is50.Translate.Middle">Attack</Text>
                        </Div>
                    </Div>
                }
                else if (!string.IsNullOrEmpty(Unit.SecretSkillSupportEffect))
                {
                    <Div Height="Height.Em(1.5)">
                        <Div Position="Position.Absolute">
                            <ImageProxy Source="image/character_info/ultimateSupportBase.png" Height="Height.Em(1.5)"/>
                            <Text TextSize="TextSize.ExtraSmall" Position="Position.Absolute.Start.Is50.Top.Is50.Translate.Middle">Support</Text>
                        </Div>
                    </Div>
                }
            </Div>
            <Div TextSize="TextSize.ExtraSmall" Style="color: yellow">Lv. Max</Div>
        </Div>
    </Div>

    @if (!string.IsNullOrEmpty(Unit.SecretSkillNormalEffect))
    {
        <Div>
            <EffectStyler Text="@Unit.SecretSkillNormalEffect"/>
        </Div>
    }
    else if (!string.IsNullOrEmpty(Unit.SecretSkillAttackEffect))
    {
        <Div>
            <EffectStyler Text="@Unit.SecretSkillAttackEffect"/>
        </Div>
    }
    else if (!string.IsNullOrEmpty(Unit.SecretSkillSupportEffect))
    {
        <Div>
            <EffectStyler Text="@Unit.SecretSkillSupportEffect"/>
        </Div>
    }
    else
    {
        <Div>???</Div>
    }
</Div>

@code
{
    [Parameter]
    [EditorRequired]
    public required BattleUnit Unit { get; set; }
}