@page "/characters/{permalink}"
@using SlimeIMWiki.Components.CharacterDetail
@using SlimeIMWiki.Models.JsonData
@inherits ReactiveComponentBase<CharacterDetailViewModel>
@inject IServiceProvider ServiceProvider
@inject IJSRuntime Js

@{ Debug.Assert(ViewModel != null, nameof(ViewModel) + " != null"); }

@if (ViewModel.Unit is null)
{
    <Alert Color="Color.Danger" Visible>
        <AlertMessage>There is no such character. Perhaps you have spelled incorrectly?</AlertMessage>
    </Alert>
}
else
{
    <Div Flex="Flex.Wrap" Margin="Margin.Is5.FromBottom">
        <Div Width="Width.Is100">
            <ImageProxy Width="Width.Rem(4)" Height="Height.Rem(4)"
                        Source="image/character_info/btnReturnNormal.png"
                        Text="Back"
                        Class="returnButton"
                        @onclick="ReturnBack"/>
        </Div>

        <Div Width="Width.Is50" Display="Display.Block.OnDesktop.None">
            <ImageProxy Source="@ViewModel.Unit.Image" Fluid="true"/>
        </Div>

        <Div Width="Width.Is50.OnDesktop.Is100.OnMobile">
            <Div Flex="Flex.Wrap">
                <Div Width="Width.Is100">
                    <UnitNameSection Unit="ViewModel.Unit"/>
                </Div>

                <Div Display="Display.None.OnDesktop.Block" Width="Width.Is100">
                    <ImageProxy Source="@ViewModel.Unit.Image" Fluid="true"/>
                </Div>

                <Div Flex="Flex.Wrap" Width="Width.Is100" Gap="Gap.Is2">
                    <Div Flex="Flex.Grow.Is1.Shrink.Is1">
                        <UnitStatusSection Unit="ViewModel.Unit"/>
                    </Div>

                    <Div Flex="Flex.Grow.Is1.Shrink.Is1">
                        <UnitForceSection Unit="ViewModel.Unit"/>
                        <UnitSuitedFacilitySection Unit="ViewModel.Unit"/>
                    </Div>
                </Div>

                <Div Width="Width.Is100">
                    @if (ViewModel.Unit is ProtectionUnit unit)
                    {
                        <TextDivider Text="DIVINE PROTECTION" Margin="Margin.Is2.OnY"/>

                        <Div Flex="Flex.Column" Background="Background.Body" Padding="Padding.Is2" Gap="Gap.Is2">
                            <Div Flex="Flex.Row.AlignItems.Center" Gap="Gap.Is2">
                                <Div Width="Width.Em(4)" Height="Height.Em(4)">
                                    <ImageProxy Source="image/character_info/blessConfirmIcon.png" Width="Width.Is100"
                                                Text="Icon"/>
                                </Div>
                                <Div>
                                    <Div TextWeight="TextWeight.Bold">
                                        @(string.IsNullOrEmpty(unit.DivineProtectionName) ? "???" : unit.DivineProtectionName)
                                    </Div>
                                    <Div TextSize="TextSize.ExtraSmall" Style="color: yellow">Lv. Max</Div>
                                </Div>
                            </Div>

                            <Div>
                                <EffectStyler Text="@unit.DivineProtectionEffectMax"/>
                            </Div>

                            <Div Background="@(new Background("body-secondary"))" TextWeight="TextWeight.Bold"
                                 Padding="Padding.Is2" TextAlignment="TextAlignment.Center"
                                 TextSize="TextSize.ExtraSmall">
                                Supporting Divine Protection
                            </Div>

                            <Div>
                                <EffectStyler
                                    Text="@(string.IsNullOrEmpty(unit.SupportDivineProtectionEffectMax) ? "???" : unit.SupportDivineProtectionEffectMax)"/>
                            </Div>
                        </Div>

                        <TextDivider Text="PROTECTION SKILL" Margin="Margin.Is2.OnY"/>

                        <Div Flex="Flex.Column" Background="Background.Body" Padding="Padding.Is2" Gap="Gap.Is2">
                            <Div Flex="Flex.Row.AlignItems.Center" Gap="Gap.Is2">
                                <Div Width="Width.Em(4)" Height="Height.Em(4)">
                                    @if (!string.IsNullOrEmpty(unit.ProtectionSkillIcon))
                                    {
                                        <ImageProxy Source="@unit.ProtectionSkillIcon" Width="Width.Is100" Text="Icon"/>
                                    }
                                </Div>
                                <Div>
                                    <Div TextWeight="TextWeight.Bold">
                                        @(string.IsNullOrEmpty(unit.ProtectionSkillName) ? "???" : unit.ProtectionSkillName)
                                    </Div>
                                    <Div TextSize="TextSize.ExtraSmall" Style="color: yellow">Lv. Max</Div>
                                </Div>
                            </Div>

                            <Div>
                                <EffectStyler Text="@unit.ProtectionSkillEffect"/>
                            </Div>
                        </Div>
                    }
                    else if (ViewModel.Unit is BattleUnit battleUnit)
                    {
                        <TextDivider Text="SECRET SKILLS" Margin="Margin.Is2.OnY"/>

                        <Div Flex="Flex.Column" Background="Background.Body" Padding="Padding.Is2" Gap="Gap.Is2">
                            <Div Flex="Flex.Row.AlignItems.Center" Gap="Gap.Is2">
                                <Div Width="Width.Em(4)" Height="Height.Em(4)">

                                </Div>
                                <Div>
                                    <Div TextWeight="TextWeight.Bold">
                                        @(string.IsNullOrEmpty(battleUnit.SecretSkillName) ? "???" : battleUnit.SecretSkillName)
                                    </Div>
                                    <Div TextSize="TextSize.ExtraSmall" Style="color: yellow">Lv. Max</Div>
                                </Div>
                            </Div>

                            @if (!string.IsNullOrEmpty(battleUnit.SecretSkillNormalEffect))
                            {
                                <Div>
                                    <EffectStyler Text="@battleUnit.SecretSkillNormalEffect"/>
                                </Div>
                            }
                            else
                            {
                                <Div>???</Div>
                            }
                        </Div>

                        <TextDivider Text="BATTLE SKILLS" Margin="Margin.Is2.OnY"/>

                        <Div Flex="Flex.Column" Background="Background.Body" Padding="Padding.Is2" Gap="Gap.Is2">
                            <Div Flex="Flex.Row.AlignItems.Center" Gap="Gap.Is2">
                                <Div Flex="Flex.Column.AlignItems.Center">
                                    <Div TextWeight="TextWeight.Bold">@battleUnit.BattleSkillOneEffectCost</Div>
                                    <Div Width="Width.Em(4)" Height="Height.Em(4)">
                                        @if (!string.IsNullOrEmpty(battleUnit.BattleSkillOneIcon))
                                        {
                                            <ImageProxy Source="@battleUnit.BattleSkillOneIcon" Width="Width.Is100"
                                                        Text="Icon"/>
                                        }
                                    </Div>
                                </Div>
                                <Div>
                                    <Div TextWeight="TextWeight.Bold">
                                        @(string.IsNullOrEmpty(battleUnit.BattleSkillOneName) ? "???" : battleUnit.BattleSkillOneName)
                                    </Div>
                                    <Div TextSize="TextSize.ExtraSmall" Style="color: yellow">Lv. Max</Div>
                                </Div>
                            </Div>

                            <Div>
                                <EffectStyler Text="@battleUnit.BattleSkillOneEffect"/>
                            </Div>
                        </Div>

                        <Div Flex="Flex.Column" Background="Background.Body" Margin="Margin.Is2.FromTop"
                             Padding="Padding.Is2" Gap="Gap.Is2">
                            <Div Flex="Flex.Row.AlignItems.Center" Gap="Gap.Is2">
                                <Div Flex="Flex.Column.AlignItems.Center">
                                    <Div TextWeight="TextWeight.Bold">@battleUnit.BattleSkillTwoEffectCost</Div>
                                    <Div Width="Width.Em(4)" Height="Height.Em(4)">
                                        @if (!string.IsNullOrEmpty(battleUnit.BattleSkillTwoIcon))
                                        {
                                            <ImageProxy Source="@battleUnit.BattleSkillTwoIcon" Width="Width.Is100"
                                                        Text="Icon"/>
                                        }
                                    </Div>
                                </Div>
                                <Div>
                                    <Div TextWeight="TextWeight.Bold">
                                        @(string.IsNullOrEmpty(battleUnit.BattleSkillTwoName) ? "???" : battleUnit.BattleSkillTwoName)
                                    </Div>
                                    <Div TextSize="TextSize.ExtraSmall" Style="color: yellow">Lv. Max</Div>
                                </Div>
                            </Div>

                            <Div>
                                <EffectStyler Text="@battleUnit.BattleSkillTwoEffect"/>
                            </Div>
                        </Div>
                    }
                </Div>

                <Div Width="Width.Is100">
                    <TextDivider Text="TRAIT" Margin="Margin.Is2.OnY"/>

                    <Div Flex="Flex.Column" Background="Background.Body" Padding="Padding.Is2" Gap="Gap.Is2">
                        <Div Flex="Flex.Row.AlignItems.Center" Gap="Gap.Is2">
                            <Div Width="Width.Em(4)" Height="Height.Em(4)">
                                @if (!string.IsNullOrEmpty(ViewModel.Unit.TraitOneIcon))
                                {
                                    <ImageProxy Source="@ViewModel.Unit.TraitOneIcon" Width="Width.Is100" Text="Icon"/>
                                }
                            </Div>
                            <Div>
                                <Div TextWeight="TextWeight.Bold">
                                    @(string.IsNullOrEmpty(ViewModel.Unit.TraitOneName) ? "???" : ViewModel.Unit.TraitOneName)
                                </Div>
                                <Div TextSize="TextSize.ExtraSmall">At 3rd Awaken</Div>
                            </Div>
                        </Div>

                        <Div>
                            <EffectStyler Text="@ViewModel.Unit.TraitOneEffectMax"/>
                        </Div>
                    </Div>
                </Div>

                <Div Width="Width.Is100">
                    @if (ViewModel.Unit is BattleUnit { TraitTwoName: not null, TraitTwoEffectMax: not null } battleUnit1)
                    {
                        <TextDivider Text="TRAIT 2" Margin="Margin.Is2.OnY"/>

                        <Div Flex="Flex.Column" Background="Background.Body" Padding="Padding.Is2" Gap="Gap.Is2">
                            <Div Flex="Flex.Row.AlignItems.Center" Gap="Gap.Is2">
                                <Div Width="Width.Em(4)" Height="Height.Em(4)">
                                    @if (!string.IsNullOrEmpty(battleUnit1.TraitTwoIcon))
                                    {
                                        <ImageProxy Source="@battleUnit1.TraitTwoIcon" Width="Width.Is100" Text="Icon"/>
                                    }
                                </Div>
                                <Div>
                                    <Div TextWeight="TextWeight.Bold">
                                        @(string.IsNullOrEmpty(battleUnit1.TraitTwoName) ? "???" : battleUnit1.TraitTwoName)
                                    </Div>
                                    <Div TextSize="TextSize.ExtraSmall">At 5th Awaken</Div>
                                </Div>
                            </Div>

                            <Div>
                                <EffectStyler Text="@battleUnit1.TraitTwoEffectMax"/>
                            </Div>
                        </Div>
                    }
                </Div>

                <Div Width="Width.Is100">
                    @if (ViewModel.Unit.ValorTraitName is not null && ViewModel.Unit.ValorTraitEffectMax is not null)
                    {
                        <TextDivider Text="VALOR TRAIT" Margin="Margin.Is2.OnY"/>

                        <Div Flex="Flex.Column" Background="Background.Body" Padding="Padding.Is2" Gap="Gap.Is2">
                            <Div Flex="Flex.Row.AlignItems.Center" Gap="Gap.Is2">
                                <Div Width="Width.Em(4)" Height="Height.Em(4)">
                                    @if (!string.IsNullOrEmpty(ViewModel.Unit.TraitOneIcon))
                                    {
                                        <ImageProxy Source="@ViewModel.Unit.ValorTraitIcon" Width="Width.Is100"
                                                    Text="Icon"/>
                                    }
                                </Div>
                                <Div>
                                    <Div TextWeight="TextWeight.Bold">
                                        @(string.IsNullOrEmpty(ViewModel.Unit.ValorTraitName) ? "???" : ViewModel.Unit.ValorTraitName)
                                    </Div>
                                    <Div TextSize="TextSize.ExtraSmall">At 2nd Awaken</Div>
                                </Div>
                            </Div>

                            <Div>
                                <EffectStyler Text="@ViewModel.Unit.ValorTraitEffectMax"/>
                            </Div>
                        </Div>
                    }
                </Div>
            </Div>
        </Div>
    </Div>
}

@code
{
    [Parameter]
    [EditorRequired]
    public required string Permalink { get; set; }

    protected override void OnInitialized()
    {
        ViewModel = ActivatorUtilities.CreateInstance<CharacterDetailViewModel>(ServiceProvider, Permalink);
        base.OnInitialized();
    }

    private async Task ReturnBack()
    {
        await Js.InvokeVoidAsync("history.back");
    }
}
