@page "/characters/{permalink}"
@using SlimeIMWiki.Components.CharacterDetail
@inherits ReactiveComponentBase<SlimeIMWiki.Components.CharacterDetail.CharacterDetailViewModel>
@inject IServiceProvider ServiceProvider

@code
{
    [Parameter]
    [EditorRequired]
    public required string Permalink { get; set; }

    protected override void OnInitialized()
    {
        ViewModel = ActivatorUtilities.CreateInstance<CharacterDetailViewModel>(ServiceProvider, Permalink);
        base.OnInitialized();
    }
}

@{ Debug.Assert(ViewModel != null, nameof(ViewModel) + " != null"); }

@if (ViewModel.Unit is null)
{
    if (ViewModel.Loading)
    {
        <Alert Color="Color.Info" Visible>
            <AlertMessage>Loading... Please wait for a second.</AlertMessage>
        </Alert>
    }
    else
    {
        <Alert Color="Color.Danger" Visible>
            <AlertMessage>There is no such character. Perhaps you have spelled incorrectly?</AlertMessage>
        </Alert>
    }
}
else
{
    <Div Flex="Flex.Wrap" Margin="Margin.Is5.FromBottom">
        <Div Width="Width.Is100">
            <Blazorise.Link To="characters">
                <ImageProxy Width="Width.Rem(4)" Height="Height.Rem(4)"
                            Source="image/character_info/btnReturnNormal.png"
                            Text="Back"
                            Class="returnButton"/>
            </Blazorise.Link>
        </Div>

        <Div Width="Width.Is50" Display="Display.Block.OnDesktop.None">
            <ImageProxy Source="@ViewModel.Unit.Image" Fluid="true"/>
        </Div>

        <Div Width="Width.Is50.OnDesktop.Is100.OnMobile">
            <Div Flex="Flex.Wrap" Gap="Gap.Is2">
                <Div Width="Width.Is100">
                    <UnitNameSection Unit="ViewModel.Unit"/>
                </Div>

                <Div Display="Display.None.OnDesktop.Block" Width="Width.Is100">
                    <ImageProxy Source="@ViewModel.Unit.Image" Fluid="true"/>
                </Div>

                <Div Flex="Flex.Wrap.AlignItems" Width="Width.Is100" Gap="Gap.Is2">
                    <Div Flex="Flex.Grow.Is1.Shrink.Is1">
                        <UnitStatusSection Unit="ViewModel.Unit"/>
                    </Div>

                    <Div Flex="Flex.Column.Grow.Is1.Shrink.Is1" Gap="Gap.Is2">
                        <UnitForceSection Unit="ViewModel.Unit"/>
                        <UnitSuitedFacilitySection Unit="ViewModel.Unit"/>
                    </Div>
                </Div>

                @if (ViewModel.Unit is ProtectionUnit)
                {
                    <Div Width="Width.Is100">
                        <UnitDivineProtectionSection Unit="@(ViewModel.Unit as ProtectionUnit)"/>
                    </Div>

                    <Div Width="Width.Is100">
                        <UnitProtectionSkillSection Unit="@(ViewModel.Unit as ProtectionUnit)"/>
                    </Div>
                }

                @if (ViewModel.Unit is BattleUnit)
                {
                    <Div Width="Width.Is100">
                        <UnitSecretSkillSection Unit="@(ViewModel.Unit as BattleUnit)"/>
                    </Div>

                    <Div Width="Width.Is100">
                        <UnitBattleSkillSection Unit="@(ViewModel.Unit as BattleUnit)"/>
                    </Div>
                }

                <Div Width="Width.Is100">
                    <UnitTraitOneSection Unit="ViewModel.Unit"/>
                </Div>

                @if (ViewModel.Unit is BattleUnit { TraitTwoName: not null, TraitTwoEffectMax: not null })
                {
                    <Div Width="Width.Is100">
                        <UnitTraitTwoSection Unit="@(ViewModel.Unit as BattleUnit)"/>
                    </Div>
                }

                @if (ViewModel.Unit.ValorTraitName is not null && ViewModel.Unit.ValorTraitEffectMax is not null)
                {
                    <Div Width="Width.Is100">
                        <UnitValorTraitSection Unit="ViewModel.Unit"/>
                    </Div>
                }

                @if (ViewModel.Unit is ProtectionUnit { GuidanceEnhancementTraitEffect: not null })
                {
                    <Div Width="Width.Is100">
                        <UnitGuidanceEnhancementTraitEffectSection Unit="@(ViewModel.Unit as ProtectionUnit)"/>
                    </Div>
                }
            </Div>
        </Div>
    </Div>
}