<a href="Characters/@Unit.Permalink" style="position: relative; width: 100px; height: 100px">
    <Div Position="Position.Absolute.Start.Is0.Top.Is0"
         Padding="Padding.Is1.OnX"
         TextSize="TextSize.ExtraSmall"
         TextColor="TextColor.Body"
         Style="z-index:4; background-color: #000000BB; transform: translateY(-100%)">
        @Unit.Name
    </Div>

    <Div Position="Position.Absolute.End.Is0.Top.Is0" Width="Width.Is25" Flex="Flex.Column"
         Style="z-index: 3">
        @if (Unit.Force != null)
        {
            <Image Width="Width.Is100" Height="Height.Is100"
                   Source="@(GetForceIcon(Unit.Force))"></Image>
        }

        @if (Unit.Attributes != null)
        {
            foreach (var attribute in Unit.Attributes)
            {
                <Image Width="Width.Is100" Height="Height.Is100"
                       Source="@(GetAttributeIcon(attribute))"></Image>
            }
        }

        @if (Unit.AttackType != null)
        {
            <Image Width="Width.Is100" Height="Height.Is100"
                   Source="@(GetAttackTypeIcon(Unit.AttackType))"></Image>
        }
    </Div>

    @switch(Unit.InitialRarity)
    {
        case 3:
        {
            <Image Position="Position.Absolute.Start.Is0.Bottom.Is0" Width="Width.Is33"
                   Source="image/rarity/starCharaL3A.png"
                   Style="z-index: 3"></Image>

            <Image Position="Position.Absolute.Start.Is0.Top.Is0" Width="Width.Is100"
                   Source="image/rarity/frameBlessM3.png"
                   Style="z-index: 2"></Image>

            <Image Position="Position.Absolute.Start.Is0.Top.Is0" Width="Width.Is100"
                   Source="image/rarity/baseBlessM3.png"
                   Style="z-index: 0"></Image>

            <Div Position="Position.Absolute.Start.Is50.Top.Is50.Translate.Middle" Overflow="Overflow.Hidden"
                 Style="z-index: 1; width: 90px; height: 90px">
                <Image Class="@("unitIcon facing" + Unit.Facing)" Position="Position.Absolute"
                       Source="@Unit.Icon"
                       Style="z-index: 1; mask-image: url('image/rarity/baseBlessM3.png'); mask-repeat: no-repeat; mask-size: cover"></Image>
            </Div>

            break;
        }
        case 4:
        {
            <Image Position="Position.Absolute.Start.Is0.Bottom.Is0" Width="Width.Is33"
                   Source="image/rarity/starCharaL4A.png"
                   Style="z-index: 3"></Image>

            <Image Position="Position.Absolute.Start.Is0.Top.Is0" Width="Width.Is100"
                   Source="image/rarity/frameBlessM4.png"
                   Style="z-index: 2"></Image>

            <Image Position="Position.Absolute.Start.Is0.Top.Is0" Width="Width.Is100"
                   Source="image/rarity/baseBlessM4.png"
                   Style="z-index: 0"></Image>

            <Div Position="Position.Absolute.Start.Is50.Top.Is50.Translate.Middle" Overflow="Overflow.Hidden"
                 Style="z-index: 1; width: 90px; height: 90px">
                <Image Class="@("unitIcon facing" + Unit.Facing)" Position="Position.Absolute"
                       Source="@Unit.Icon"
                       Style="z-index: 1; mask-image: url('image/rarity/baseBlessM4.png'); mask-repeat: no-repeat; mask-size: cover"></Image>
            </Div>
            break;
        }
        case 5:
        {
            <Image Position="Position.Absolute.Start.Is0.Bottom.Is0" Width="Width.Is33"
                   Source="image/rarity/starCharaL5A.png"
                   Style="z-index: 3"></Image>

            <Image Position="Position.Absolute.Start.Is0.Top.Is0" Width="Width.Is100"
                   Source="image/rarity/frameBlessM5.png"
                   Style="z-index: 2"></Image>

            <Image Position="Position.Absolute.Start.Is0.Top.Is0" Width="Width.Is100"
                   Source="image/rarity/baseBlessM5.png"
                   Style="z-index: 0"></Image>

            <Div Position="Position.Absolute.Start.Is50.Top.Is50.Translate.Middle" Overflow="Overflow.Hidden"
                 Style="z-index: 1; width: 90px; height: 90px">
                <Image Class="@("unitIcon facing" + Unit.Facing)" Position="Position.Absolute"
                       Source="@Unit.Icon"
                       Style="z-index: 1; mask-image: url('image/rarity/baseBlessM5.png'); mask-repeat: no-repeat; mask-size: cover"></Image>
            </Div>
            break;
        }
        case 6:
        {
            @if (Unit.IsEx)
            {
                <Image Position="Position.Absolute.Start.Is0.Bottom.Is0" Width="Width.Is33"
                       Source="image/rarity/starCharaL6.png"
                       Style="z-index: 3"></Image>

                <Image Position="Position.Absolute.Start.Is0.Top.Is0" Width="Width.Is100"
                       Source="image/rarity/frameBlessM6u.png"
                       Style="z-index: 2"></Image>

                <Image Position="Position.Absolute.Start.Is0.Top.Is0" Width="Width.Is100"
                       Source="image/rarity/baseBlessM6u.png"
                       Style="z-index: 0"></Image>

                <Div Position="Position.Absolute.Start.Is50.Top.Is50.Translate.Middle" Overflow="Overflow.Hidden"
                     Style="z-index: 1; width: 90px; height: 90px">
                    <Image Class="@("unitIcon facing" + Unit.Facing)" Position="Position.Absolute"
                           Source="@Unit.Icon"
                           Style="z-index: 1; mask-image: url('image/rarity/baseBlessM6u.png'); mask-repeat: no-repeat; mask-size: cover"></Image>
                </Div>
            }
            else if (Unit.IsAttributeUnbound)
            {
                <Image Position="Position.Absolute.Start.Is0.Bottom.Is0" Width="Width.Is33"
                       Source="image/rarity/starCharaL6UP.png"
                       Style="z-index: 3"></Image>

                <Image Position="Position.Absolute.Start.Is0.Top.Is0" Width="Width.Is100"
                       Source="image/rarity/frameBlessM6up.png"
                       Style="z-index: 2"></Image>

                <Image Position="Position.Absolute.Start.Is0.Top.Is0" Width="Width.Is100"
                       Source="image/rarity/baseBlessM6up.png"
                       Style="z-index: 0"></Image>

                <Div Position="Position.Absolute.Start.Is50.Top.Is50.Translate.Middle" Overflow="Overflow.Hidden"
                     Style="z-index: 1; width: 90px; height: 90px">
                    <Image Class="@("unitIcon facing" + Unit.Facing)" Position="Position.Absolute"
                           Source="@Unit.Icon"
                           Style="z-index: 1; mask-image: url('image/rarity/baseBlessM6up.png'); mask-repeat: no-repeat; mask-size: cover"></Image>
                </Div>
            }
            break;
        }
    }
</a>

@code
{
    [Parameter]
    public required Models.ProtectionUnit Unit { get; set; }

    [Parameter]
    public required Force[] Forces { get; set; }

    [Parameter]
    public required ProtectionAttribute[] ProtectionAttributes { get; set; }

    [Parameter]
    public required ProtectionAttackType[] ProtectionAttackTypes { get; set; }

    private string? GetForceIcon(string force)
    {
        return Forces.FirstOrDefault(force1 => force1.Name.Equals(force, StringComparison.OrdinalIgnoreCase))?.Icon;
    }

    private string? GetAttributeIcon(string attribute)
    {
        return ProtectionAttributes.FirstOrDefault(protectionAttribute => protectionAttribute.Name.Equals(attribute, StringComparison.OrdinalIgnoreCase))?.Icon;
    }

    private string? GetAttackTypeIcon(string attackType)
    {
        return ProtectionAttackTypes.FirstOrDefault(type => type.Name.Equals(attackType, StringComparison.OrdinalIgnoreCase))?.Icon;
    }
}